<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <style>
        .events {
            height: 150px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>{{ greeting }}</h1>
    <div class="events" id="events"></div>
    <div class="events" id="events_cli"></div>
    <script>
        const eventSource = new EventSource('http://localhost:9090/events');
        const eventSource2 = new EventSource('http://localhost:9090/events_cli');

        eventSource.onmessage = function(event) {
	    if (event.data === 'STOP') {
                console.log('Received STOP message. Closing connection.');
                eventSource.close();
                return;
            }
	    else {
                const newElement = document.createElement('div');
                newElement.textContent = 'Message: ' + event.data;
                document.getElementById('events').appendChild(newElement);
                document.getElementById('events').scrollTop = document.getElementById('events').scrollHeight;
            }
	};

        eventSource2.onmessage = function(event) {
	    if (event.data === 'STOP') {
                console.log('Received STOP message. Closing connection.');
                eventSource2.close();
                return;
            }
	    else {
                const newElement = document.createElement('div');
                newElement.textContent = 'Message: ' + event.data;
                document.getElementById('events_cli').appendChild(newElement);
                document.getElementById('events_cli').scrollTop = document.getElementById('events_cli').scrollHeight;
            }
	};

        eventSource.onerror = function() {
            console.error('EventSource failed.');
        };

        eventSource2.onerror = function() {
            console.error('EventSource failed.');
        };

    </script>
</body>
</html>

